
<!doctype html>
<html>
    <head>
        <title>CODE EDITOR</title>
       <h1>CODE EDITOR</h1>

        <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.css">
        <script src="{{ file }}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/theme/ayu-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/addon/edit/closebrackets.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

    </head>

    <body>

<div class="dropdown">
  <button class="dropbtn">LANGUAGE</button>
  <div class="dropdown-content">
        <a href="{% url 'python' %}">Python</a>
        <a href="{% url 'c++' %}">C++</a>
        <a href="{% url 'java' %}">Java</a>
  </div>
</div>

        <h3>{{ lg }}</h3>
       <textarea id="editor" name="fulltext"></textarea>
        <script>
           var editor = CodeMirror.fromTextArea(document.getElementById('editor'),{
                lineNumbers: true,
                mode: "{{ mode }}",
                theme: "ayu-dark",
              autoCloseBrackets: true,
              smartIndent : true
            });

           editor.setSize("500","350");
         </script>
         <br>

         <input type="button" onclick="myFunction1()" value="COMPILE">
         <input type="button" onclick="myFunction2()" value="RUN">

         <h3>OUTPUT</h3>
         <textarea  rows="4" cols="50" id="demo"></textarea>


         <script>
         function myFunction1(){

         var text = editor.getValue();
         var formData = {source:text,lang:"{{ lg }}"};
         $.ajax({
                  url : "{% url 'compile' %}",
                  type: "POST",
                  data : formData,
                  success: function(data, textStatus, jqXHR){
                    $('#demo').html( JSON.stringify(data['compile_status']));
                    },
                  error: function (jqXHR, textStatus, errorThrown){
                  alert(errorThrown);
                  }
               });

            }

          function myFunction2(){
            var text = editor.getValue();
            var formData = {source:text,lang:"{{ lg }}"};
            $.ajax({
                    url : "{% url 'run' %}",
                    type: "POST",
                    data : formData,
                   success: function(data, textStatus, jqXHR)   {
                     $('#demo').html( JSON.stringify(data['run_status']['output']));
                     },
                   error: function (jqXHR, textStatus, errorThrown){
                   alert(errorThrown);
                   }
                });
               }


      </script>
    </body>
</html>